/*Regels zijn van toepassing op elk element
in de pagina. */
* {
  color: rgb(139, 46, 131);
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(../images/background.png);
  background-attachment: fixed; /* ◦ Een afbeelding schuift standaard mee met de rest van de pagina, maar je kan hem
  ook vastzetten*/
  font-size: 14px;
  line-height: 1.2; /* Best practice: 1.5 => line-height = 1.5 * font-size */

  /* vergroot de afstand tussen letters */
  letter-spacing: 0.7em;
  /* verkleint de afstand tussen letters */
  letter-spacing: -1px;
  /* vergroot de afstand tussen woorden */
  word-spacing: 2px;
  /* verandert de regelhoogte. Bij voorkeur een unitless getal: dan wordt de
huidige fontsize hiermee vermenigvuldigd. */
  line-height: 1.5;
  /* tekst uitlijnen (left, right, justify (=uitvullen), center, match-parent*/
  /* eerste regel van tekst laten inspringen (ook negatieve waarde toegelaten) */
  /*text-indent: 2em;*/
}

nav {
  margin-top: -80px;
  margin-bottom: 50px;
  width: 350px;
  height: 25px;
  margin-left: 10px;
}
nav li {
  display: inline;
  margin-right: 10px;
  font-size: 20px;
}

nav .nietzichtbaar {
  display: none;
}

nav a {
  color: rgb(90, 20, 73);
}
nav a:hover {
  color: rgb(89, 64, 201);
}

/* div 2 bewerken */
h2:nth-of-type(2) {
  font-size: 50px;
}

#box {
  background-color: gray;
  /* border: 6px solid green*/
  border-color: green;
  border-style: solid;
  border-width: 6px;
  color: beige;
  padding: 20px;
  /* box centreren: */
  /* hier is de top en de bottem = 0 , de left en de right = auto*/
  margin: 0 auto;
  /*margin-left: auto;
 margin-right: auto; */
  height: 100px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 5px 5px #a31818;
  margin-bottom: 20px;
  text-shadow: 1px 1px 3px #8a0b0b;
  cursor: wait;
}
h1 {
  background-color: rgba(17, 52, 167, 0.2);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 3em !important; /*42px = 3*14px(van body) -- De prioriteit van een declaration kan verhoogd worden door er
  !important achter te plaatsen.*/
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: red;
}

h2 {
  background-color: rgba(206, 161, 65, 0.2);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-transform: uppercase;
}

table {
  border-collapse: collapse;

  font-size: 14px;
}

table,
th,
td {
  border: 1px solid black;
}

/*bijschrijft van een table wijzigen*/
caption {
  caption-side: bottom;
}

.last {
  background-color: royalblue;
}

.noborder,
.noborder td {
  border: 0px;
}

ol {
  list-style-type: upper-alpha;
}

ul {
  list-style-image: url("../images/star.png");
  list-style-position: inside;
}

h3,
.classtitel {
  color: rgb(211, 28, 135);
}

div #naam {
  background: aqua;
}

/* we verwijderen de onderstreping
bij alle links */
a {
  text-decoration: none;
  color: red;
  font-size: 1.2rem;
}
/* en als er gehoverd wordt over een
  link dan onderstrepen we de link */
a:hover {
  text-decoration: underline;
}

.overflow {
  max-width: 200px;
  max-height: 80px;
  overflow: scroll;
}

/* paragrafen die onmiddellijk na een h1 komen */
h1 + p {
  font-weight: bold;
}
/* alle paragrafen na een paragraaf */
p ~ p {
  font-weight: bold;
}

/*eerste article h2 in rood, 3de li in rood*/

article:first-child h2,
li:nth-child(3) {
  color: red;
}

p:first-of-type::first-letter {
  font-size: 3em;
}

/* CSS Grid Layout */
.grid-container {
  display: grid;
  grid-template-columns: 150px 150px 150px;
  grid-template-rows: 100px 100px 100px 100px;
}
.grid-container {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}

/* grid items positioneren*/
/* Merk op dat de getallen bij grid-row en grid-column lijnnummers zijn. 'grid-row: 3/5’ (betekent dus dat de div rij 3 en rij 4 overspant */
.grid-container div:nth-of-type(2) {
  grid-row: 3/5;
  grid-column: 3;
}

.grid-container div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}

.grid-procedure li {
  list-style-type: decimal;
  color: black;
}

/*Aangezien we niet expliciet het aantal en de hoogte van de rijen opgeven, zullen er automatisch rijen worden aangemaakt, waarbij ook de hoogte automatisch bepaald wordt. */

.grid-container2 {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}
.grid-container2 div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}
.grid-container2 {
  display: grid;
  grid-template-columns: 200px 200px 200px;
}
/* Voorbeeld met één non-flexible column track (500px) en twee flexible
      column tracks. De ‘leftover space’ wordt verdeeld over de tweede en de
      derde kolom. Hiervoor wordt de ‘leftover space’ eerst in drie gedeeld en
      hiervan krijgt de tweede kolom één deel en de derde kolom twee delen.*/
.grid-container3 {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}
.grid-container3 div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}
.grid-container3 {
  display: grid;
  grid-template-columns: 500px 1fr 2fr;
}

/*  De hoogte van de eerste rijen stellen we in op 100px en eventuele
      bijkomende impliciet gecreeerde rijen krijgen een hoogte van 150px*/

.grid-container4 {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}
.grid-container4 div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}
.grid-container4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  grid-auto-rows: 150px;
}
/*De rijhoogte van de rijen is minimaal 100px en maximaal de hoogte van de inhoud. */

.grid-container5 {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}
.grid-container5 div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}
.grid-container5 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
}

.grid-container6 {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}
.grid-container6 div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}

/*gutters*/
.grid-container7 {
  background-color: cyan;
  border-radius: 5px;
  padding: 5px;
}
.grid-container7 div {
  border: 1px solid black;
  background-color: white;
  border-radius: 5px;
  padding: 1em;
}
.grid-container7 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 50px 50px;
  column-gap: 10px;
  row-gap: 1rem;
}
/*Grid Items positioneren op de Grid met
Line Number*/
/*
.box1 {grid-column-start: 1;grid-column-end: 2;grid-row-start: 1;grid-row-end: 4;}
.box2 {grid-column-start: 3;grid-column-end: 4;grid-row-start: 1;grid-row-end: 3;}
.box3 {grid-column-start: 2;grid-column-end: 3;grid-row-start: 1;grid-row-end: 2;}
.box4 {grid-column-start: 2;grid-column-end: 4;grid-row-start: 3;grid-row-end: 4;}

*/

/*
.box1 {grid-column-start: 1;grid-row-start: 1;grid-row-end: 4;}
.box2 {grid-column-start: 3;grid-row-start: 1;grid-row-end: 3;}
.box3 {grid-column-start: 2;grid-row-start: 1;}
.box4 {grid-column-start: 2;grid-column-end: 4;grid-row-start: 3;}

*/

/* De volgorde van de waarden
voor de grid-area property is:
grid-row-start
grid-column-start
grid-row-end
grid-column-end 

.box1 {
  grid-area: 1 / 1 / 4 / 2;
}
.box2 {
  grid-area: 1 / 3 / 3 / 4;
}
.box3 {
  grid-area: 1 / 2 / 2 / 3;
}
.box4 {
  grid-area: 3 / 2 / 4 / 4;
} */

.grid-container6 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 100px);
  grid-template-areas:
    "one three two"
    "one . two"
    "one four four";
}

.box1 {
  grid-area: one;
}
.box2 {
  grid-area: two;
}
.box3 {
  grid-area: three;
}
.box4 {
  grid-area: four;
}

/*overlappende grid items*/

.box5 {
  grid-area: 1 / 1 / 4 / 2;
}
.box6 {
  grid-area: 1 / 3 / 3 / 4;
}
.box7 {
  grid-area: 1 / 2 / 2 / 3;
}
.box8 {
  grid-area: 3 / 2 / 4 / 4;
}
.box6 {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  z-index: 1;
}

.wrapper {
  display: grid;
  /* items uitlijnen langs de block axis met align-items
  align-items: start; */
  /*items centreren
met align-items en justify-items
  align-items: center;
  justify-items: center; */

  border: 3px solid red;
  padding: 5px;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  grid-auto-rows: 100px;
  grid-template-areas:
    "a a a a b b b b"
    "a a a a b b b b"
    "c c c c d d d d"
    "c c c c d d d d";
}

.wrapper div {
  color: rgb(255, 255, 255);
  background-color: rgb(17, 43, 160);
  border: 4px solid rgb(255, 221, 25);
  border-radius: 5px;
}

.item1 {
  grid-area: a;
}
.item2 {
  grid-area: b;
}
.item3 {
  grid-area: c;
}
.item4 {
  grid-area: d;
}

/* items uitlijnen langs de block axis met align-self
.item2 {
  align-self: start;
}
.item3 {
  align-self: end;
}
.item4 {
  align-self: center;
}
*/
/*items uitlijnen langs de inline axis
met justify-self*/

.item2 {
  justify-self: start;
}
.item3 {
  justify-self: end;
}
.item4 {
  justify-self: center;
}
